html,
body,
#root {
  height: 100%;
}

.fade-enter {
  opacity: 0;
  visibility: hidden;
}
.fade-enter-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms, visibility 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms, visibility 300ms;
}

.fade-enter-done {
  visibility: visible !important;
  opacity: 1 !important;
}

.header-controls {
  &__item {
    position: relative;

    sup {
      position: absolute;
      font-size: 0.7em;
      left: 100%;
      bottom: 80%;

      color: #db224d;
    }
  }
}
